# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#build
dist

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

